spring:
  datasource:
    url: jdbc:hsqldb:mem:telros-test
    username: sa
    password:
    driver-class-name: org.hsqldb.jdbc.JDBCDriver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  sql:
    init:
      mode: always
      platform: hsqldb
  # https://stackoverflow.com/a/64333853
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  jackson:
    date-format: 'dd MMMM yyyy'
  security:
    user:
      name: admin
      password: admin